<p id="notice"><%= notice %></p>

<p>
  <b>Flag:</b>
  <%= @columns_answer.flag %>
</p>


<%= link_to 'Edit', edit_columns_answer_path(@columns_answer) %> |
<%= link_to 'Back', columns_answers_path %>
