<div class="task_item">
<p><%= best_in_place task, :name, :type => :input, :path => checklist_task_path(@checklist,task) %></p>
  <span class="task_desc" style="overflow:hidden">
    <%= best_in_place task, :description, :type => :input, :path => checklist_task_path(@checklist,task) %>
  </span>
<i></i>
</div>
