<div class="task_item" data-task="<%=task.id%>">
<p>
  <%if @checklist.user == current_user%>
    <%= best_in_place task, :name, :type => :input, :path => checklist_task_path(@checklist,task) %>
  <%else%>
    <%=task.name%>
  <%end%>
 </p>

</div>
