<div class="headline">
 	<h1>Your Checklists</h1>       
</div>
<table>

<% @checklists.each do |checklist| %>
  <tr>
    <td class=".desc-pop" rel="popover" data-content="<%= checklist.description %>"><%=  link_to checklist.name, checklist  %>
    </td>
    <td><%= link_to 'Edit', edit_checklist_path(checklist) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checklist', new_checklist_path %>
