<div class="headline">
 	<h1>Your Checklists</h1>       
</div>

<ul class="nav nav-tabs nav-stacked">
<% @checklists.each do |checklist| %>
  <li>
    <%=  link_to checklist.name, checklist  %>
  </li>
<% end %>
</ul>
<br />

<%= link_to 'New Checklist', new_checklist_path, {:class=>"btn btn-success"} %>
